{% extends 'inventario/base.html' %}

{% block content %}
    <div class="ag">    
        <a href="{% url 'inventario:productoCreate'%}">Agregar Producto</a> 
    </div>
        <table>
            <thead>
              <tr>
                <th>Producto</th>
                <th>Precio Unitario</th>
                <th>IVA</th>
                <th>Stock</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
                {% for producto in object_list %}
                <tr>
                    <td>{{producto.nombre}} </td>
                    <td>{{producto.precioUnidad}}</td>
                    <td>{{producto.IVAproducto}}</td>
                    <td>{{producto.cantidadExistencia}} </td>
                    <td><a class="actu" href="{% url 'inventario:productoUpdate' producto.id%}">Actualizar</a>
                        <a class="eli" href="{% url 'inventario:productoDelete' producto.id%}">Eliminar</a> </td>
                </tr>
                {% endfor %}   
            </tbody> 
        </table>
    
{% endblock %}